.list {
    margin: .714286rem .714286rem;
    border: .071429rem solid #ccc;
}
.list-item {
    position: relative;
    width: 100%;
    height: 2.142857rem;
    line-height: 2.142857rem;
    border-bottom: 1px solid #ccc;
}
/* .list-item:first-child {
    background-color: pink;
} */
.list-item:last-child {
    border-bottom: 0;
}
.list-item:hover {
    background-color: pink;
}
.list-operate {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.list-checkbox {
    left: .714286rem;
}
.list-delete {
    right: .714286rem;
}